{
  "minify": true,
  "jsc": {
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "es6",
    "strict": false,
    "lazy": false
  }
}
