{
    "jsc": {
        "minify": {
        "compress": true,
        "mangle": true,
        "sourceMap": false
        }
    },
    "minify": true,
    "module": {
        "type": "es6",
        "strict": false,
        "lazy": false
    }
}
