name: Test impli specification

on:
    push:
        branches: [master]
    pull_request:
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repos
              uses: actions/checkout@v3

            - name: Set up Haskell
              uses: haskell-actions/setup@v2
              with:
                  ghc-version: "9.12.2"
                  cabal-version: "3.14"

            - name: Update and build dependencies
              run: |
                  cabal update
                  cabal build impli-test

            - name: Run tests
              run: cabal test impli-test
